#!/bin/sh
#PBS -q normal
#PBS -N R_job1 
#PBS -l nodes=1:ppn=16:native
#PBS -l walltime=0:30:00
#PBS -o R1_native.out
#PBS -e R1_native.err
#PBS -V
#PBS -M stevedoubleday@gmail.com
#PBS -m abe
#PBS -A gue998
cd /home/train22/R/out
cmd=R

ulimit -s unlimited

BASE=$PWD
tag=`date +%s`

export PATH=/opt/R/bin:$PATH
export TMPDIR=/scratch/$USER/$PBS_JOBID
export R_LIBS=/home/train22/lib/R
OUTDIR=/home/train22/R/out

INPUT=base.R

for NPROC in 16 8  4; do
# for NPROC in 128 64 32 16 ; do

        sed -e "s/^nWorkers =.*/nWorkers = $NPROC/g" -i $INPUT
        echo R -f $INPUT $NPROC
        /usr/bin/time $MASK R -f $INPUT > $OUTDIR/log-$NPROC-$tag.txt 2>&1
done

